/*This is for filter section*/
.filterbar {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    
}

.filterbar a {
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: black;
    display: flex;
    transition: 0.3s;
}

.filterbar a:hover {
    color: orange;
}

.filterbar .choose2 {
    top: 0;
    position: absolute;
    font-size: 25px;
    margin-left: 220px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.filterbar .click2:hover{
    color: orange;
}

.filter {
    margin-top: 45px;
    border-width: 1px;
    display: flex;
    background-color: white;
    padding: 8px;
    justify-content: space-between;
    box-shadow: 0px 0px 40px 5px rgba(230, 228, 228, 0.5);
}

.filter .filter-button{
    padding: 8px 16px;
    margin-left: 30px;
    border: solid 1px #e7ad51;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.filter .filter-button:hover{
    background: #e7ad51 ;
}

/*This is for feature section*/
.feature {
    width: auto;
    height: 40px;
    font-size: 20px;
    background: transparent;
    border: solid 1px;
    border-radius: 8px;
    padding: 8px;
}

.products-container-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

/*This is for product section*/
.products-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 8px;
    row-gap: 32px;
    padding: 16px;
    margin-top: 16px;
}

.products-card {
    box-shadow: 0px 0px 40px 5px rgba(230, 228, 228, 0.5);
-webkit-box-shadow: 0px 0px 40px 5px rgba(230, 228, 228, 0.5);
-moz-box-shadow: 0px 0px 40px 5px rgba(230, 228, 228, 0.5);
border-top-left-radius: 24px;
border-top-right-radius: 24px;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
padding: 8px;
}

.product-card-body {
    padding: 8px;
}

.pic2 {
    object-fit: cover;
    border-radius: 24px;
    width : 360px;
    height: 250px;
}
/*This section is for dynamic section*/
@media screen and (max-width : 1440px) {
    .products-container {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width : 480px) {
    .products-container {
        grid-template-columns: auto;
    }
}
