.title {
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    font-size: 40px;   
}

.container-1 img{
    object-fit: contain;
}

.container-2 img{
    object-fit: contain;
}

.container-3 img{
    object-fit: contain;
}

.container-4 img{
    object-fit: contain;
}

.container-5 img{
    object-fit: contain;
}

.container-6 img{
    object-fit: contain;
}

.container-7 img{
    object-fit: contain;
}
