body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  color: rgb(196, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

.profile-pic-frame {
  border: 5px double rgb(222, 0, 0);
  border-radius: 50%;
  padding: 8px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(233, 2, 2);
  background: #111;
}

.profile-pic-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.info-card {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 40px;
  border-radius: 20px;
  border: 2px solid rgb(239, 0, 0);
  box-shadow: 0 0 25px rgb(221, 0, 0);
  text-align: center;
  max-width: 600px;
}

.info-card h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: rgb(245, 8, 8);
}

.info-card p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.tagline {
  font-style: italic;
  margin-top: 15px;
  font-size: 1.2rem;
  color: #d60707;
}
