 /*this is for navbar */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    z-index: 1;
    position: relative;
    padding: 16px 0px;
    justify-content: space-around;
    box-shadow: 0px 0px 22px 5px rgba(189, 178, 178, 0.5);
    -webkit-box-shadow: 0px 0px 22px 5px rgba(189, 178, 178, 0.5);
    -moz-box-shadow: 0px 0px 22px 5px rgba(189, 178, 178, 0.5);
}

.sidebar-button {
    display: none;
}



nav ul {
    display: flex;
    
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    color: black;
}

nav ul li a:hover {
    background-color: #e7ad51;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gainsboro;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    color: #818181;
    display: flex;
    transition: 0.3s;
}

.sidebar a:hover {
    color: orange;
}

.sidebar .click2 {
    top: 0;
    position: absolute;
    font-size: 25px;
    margin-left: 220px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.sidebar .click2:hover{
    color: orange;
}

.pic1{
    object-fit: contain;
    width: 25vw;
    height: 45px;
    position: relative;
}

.icons {
    margin-left: 440px;
    width: 160px;
    display: flex;
    justify-content: space-between;
}

ion-icon {
    font-size: 30px;
    color: black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    gap: 90px;
}

.foothead {
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-footer {
    margin-left: 140px;
}

.main-footer ul {
    list-style-type: none;
}

.main-footer ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    cursor: pointer;
}

.foothead2 {
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}



.main-footer2 ul {
    list-style-type: none;
}

.main-footer2 ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    cursor: pointer;
}

.foothead3 {
    margin-top: 15px;
    color: white;
    font-size: 25px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-footer3 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px;
}

.footer2 {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: space-between;
}

.icon {
    width: 270px;
    margin-left: 110px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.icon ion-icon {
    color: white;
    font-size: 25px;
}

.copyright {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    margin-right: 10px;
    cursor: pointer;
}


@media screen and (max-width : 480px){
    nav ul {
        display: none;
        
    }
    
    .sidebar-button {
        display: block;
    }

    .icons {
        display: none;
    }
    }